[Desktop Entry]
Type=Application
Name=conky
Exec=/home/nicolas/Theme/conky-s-polygon-theme/start-conky.fish
StartupNotify=false
Terminal=false
Icon=conky-logomark-violet
Categories=System;Monitor;
